/*
Theme Name: Store Locator Plus Storefront
Description: A Store Locator Plus child theme for WooThemes Storefront.  BBPress and Store Locator Plus aware.
Author: charlestonsw
Author URI: https://www.storelocatorplus.com/
Template: storefront
Version: 1.3
Text Domain:  	slpstorefront
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Tags:         	black, white, light, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready, store locator

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
@import url("../storefront/style.css");

$break-small: 568px;
$break-medium: 768px;
$break-large: 67.141em;

$margin-offset-large: -1368px;

// Colors
$color_slp_red: #CC2518;

$very_light_blue: #8888FF;
$light_blue : #22AAFF;

$dark_gray: #222;
$medium_gray: #60646C;

$purple_gray: #70757D;

$color_sidebar_button: #43454b;



.page {
    .hentry {
        .entry-header {
            H1 {
                border-bottom: none;
            }
        }
    }
}

// Override Parent Theme Style Full Width Pages Only
//
.page-template-template-fullwidth-php {
  #masthead {
    margin-bottom: 0;
  }

  .hentry {
    .entry-header {
      border: none;

      H1 {
        width: inherit;
        border-bottom: none;
        padding-bottom: 0.1em;
        display: none;
      }
    }
  }
}

.site-header {
    background-color: white;

    .site-branding, .site-logo-anchor, .site-logo-link {
        width: inherit;
        margin-right: 0;
    }

    .site-branding {
        .custom-logo-link {
            img {
                width: 350px;
            }
        }

        @media (min-width: $break-medium) {
            margin-bottom: 1em;
        }
    }

    ul.sub-menu {
        margin-top: -2em;
    }


}
.woocommerce-breadcrumb {
    padding: 0.5em 99em;
    @media (min-width: $break-medium) {
        padding: 0.5em 99em;
        margin-bottom: 1em;
    }
    @media (min-width:$break-small) and (max-width:$break-large) {
            margin-left: $margin-offset-large;
            margin-right: $margin-offset-large;
            padding-left:0;
            padding-right:0;
    }
}

// Menus
//
ul.menu {

    // Top nav menu
    &.nav-menu,
    &.site-header-cart
    {
        a {
            color: $color_slp_red;
            &:hover {
                color: $medium_gray;
            }
        }

        .sub-menu {
            background-color: white;
            border-bottom: 1px solid lightgray;
            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
            margin-top: 0;
            -webkit-box-shadow: 4px 5px 3px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 5px 3px -1px rgba(0,0,0,0.75);
            box-shadow: 4px 5px 3px -1px rgba(0,0,0,0.75);
        }
    }

    li.current-menu-item {
        a {
            color: $color_slp_red;
        }
    }
}

// Widget Menus
div.widget-area {
    li {
        &.current-menu-item {

            &.page_item.current_page_item {
                > a {
                    color: $light_blue;
                }
            }

            > a {
                color: $light_blue;
            }

        }
    }
}

// Content
//
div#content {
    A, .widget-area A {
        color: $light_blue;
        text-decoration: none;
    }

    pre {
        background-color: transparent;
    }

    span.embed-youtube {
        padding-top: 0.25em;
    }

    // WooCommerce Product Tabs
    //
    .woocommerce-tabs {
        ul, ol {
            margin: 0;
            padding: 1em;
            li {
                &.active {
                    background-color: $very_light_blue;
                    a {
                        color: black;
                        padding-left: 0.5em;
                    }
                }
            }
        }
        
    }

    .side-by-side {
        display: flex;
        justify-content: center;
        flex-flow: wrap;

        li {

            // WooCommerce Product Entry
            &.product {
                width: auto;
                float: inherit;
                margin: 0;
            }
        }

        .span_box {
            flex: 1 100%;
            text-align: center;
            .product {
                img {
                    width: 33%;
                }

                &:hover {
                    background-color: transparent;
                }
            }

            &:hover {
                background-color: #F4F4F4;
            }
        }

        .box {
            padding: 1em;
            flex: 1 1;

            &:hover {
                background-color: #F4F4F4;
            }

            .header {
                display: block;
                font-size: 1.5em;
                text-align: center;
            }

            .product {
                img {
                    width: 62%;
                }
            }
        }
    }

    section {
        &.dark_bar {
            background-color: $dark_gray;
            color: white;
            width: 100%;
            padding: 1.5em;

            td {
                background-color: transparent;
                width: 50%;

                &.right_side {
                    padding-left: 1em;
                }
            }

            a {
                color: $very_light_blue;
            }
        }
    }

    table.shop_table,
    div.woocommerce-checkout-payment
    {
        background-color: white;
        z-index: 9999;
    }
}

// Footer
footer {
    &#colophon {
        a {
            color: $light_blue;
            text-decordation: none;
            &:not(.button) {
                color: $light_blue;
                text-decordation: none;
            }
        }
    }
}

// BBPress Forums
//
.entry-content {
    #bbpress-forums {
        font-size: inherit;
        
        a {
            color: $light_blue;
        }

        // Posts Marked Closed
        //
        .status-closed {
            color: #666;
            a {
                color: #666;
            }
        }

        // Hide top of page topic description avatars.
        p.bbp-forum-description,
        p.bbp-topic-description,
        p.bbp-topic-meta,
        span.bbp-topic-freshness-author {
            a.bbp-author-avatar {
                display: none;
            }
        }

        // Hide modification avatars
        //
        .bbp-topic-revision-log-item {
            img {
                &.avatar {
                    display: none;
                }
            }
        }

        ul {
            &.bbp-lead-topic {
                font-size: inherit;
            }

            li {
                .bbp-header {
                    background-color: transparent;
                }

                &.bbp-body {
                    ul {
                        &.forum {
                            padding: 1em;
                        }
                    }
                }
            }
        }


        // Favorite Button
        //
        #favorite-toggle {
            a {
                &.favorite-toggle {
                    margin: 0 1em;

                    &:before {
                        font-family: dashicons;
                        content: "\f154"; // empty star
                        padding-right: 0.1em;
                    }

                    .is-favorite {
                        &:before {
                            font-family: dashicons;
                            content: "\f155"; // filled star
                            padding-right: 0.1em;
                        }
                    }
                }
            }
        }

        // BBPress Subscription Button
        //
        #subscription-toggle {
            background-color: $color_sidebar_button;
            border: none;
            float: right;
            padding: 0.618em 1.387em;
            margin: 0.25em 0;
            text-align: center;
            font-weight: 600;

            A {
                color: white;
            }

            &:hover {
                background-color: $purple_gray;
                border: medium solid $purple_gray;
            }
        }
    }
}

// Widget Area
//
.widget-area {

    .widget {

        h3 {
            &.widget-title{
                border-bottom: none;
                margin-bottom: 0;
                padding: 0 0 0.25em;
            }
        }

        // BB Press Search Widget
        //
        #bbp-search-form {
            .button {
                margin: 0.25em 0;
            }
        }

    }

}

// WooCommerce Clean Up
//
.woocommerce-active {

    .site-header {
        padding-top: 1em;

        // Logo
        //
        .custom-logo-link {
            margin-bottom: 0;
        }

        // No Secondary Navigation
        //
        .secondary-navigation {
            display: none;
            visibility: hidden;
        }

        // Make Product Search top Right
        //
        .site-search {
            position: absolute;
            top: 0;
            right: 0;
            margin-bottom: 0;
        }
    }
}

.woocommerce_account_subscriptions {
    .subscription-actions {
        .button {
            margin-bottom: 1em;
            min-width: 9em;
            text-align: center;
        }
    }
}

// A custom homepage box use on StoreLocatorPlus.com
//
.home_actionblock {
  display: inline-block;
  padding-bottom: 3em;
  text-align: center;
  width: 30%;

  IMG {
    width: auto;
    display: inline-block;
  }
}

/*-------------------------------------------------------------------------------------------*/
/* 1. Info Boxes */
/*-------------------------------------------------------------------------------------------*/
p.woo-sc-box, div.woo-sc-box {margin:1em 0 1.5em 0; padding:9px 10px 9px 50px; border-width:1px 0 1px 0; border-style:solid;color:#555;text-shadow:none;}
.woo-sc-box.none {border-width:0;}
.woo-sc-box.full {border-width:1px;}
.woo-sc-box.medium {padding:18px 20px 18px 50px; font-size:1.1em;}
.woo-sc-box.large {padding:25px 27px 25px 50px; font-size:1.2em; }
.woo-sc-box.rounded { -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.woo-sc-box.alert { border-color:#f0baa2; background:#ffd9c8 url(images/ico-alert.png) no-repeat 20px 45%; }
.woo-sc-box.download { border-color:#d4ebaf; background:#edfcd5 url(images/ico-download.png) no-repeat 20px 45%; }
.woo-sc-box.tick { border-color:#d4ebaf; background:#edfcd5 url(images/ico-tick.png) no-repeat 20px 45%; }
.woo-sc-box.info { border-color:#ccc; background:#eee url(images/ico-info.png) no-repeat 20px 45%; }
.woo-sc-box.note { border-color:#efe3ae; background:#fef6d2 url(images/ico-note.png) no-repeat 20px 45%; }
.woo-sc-box.normal { border-color:#ccc; background:#eee; padding:9px 15px;}

/*-------------------------------------------------------------------------------------------*/
/* 2. Buttons */
/*-------------------------------------------------------------------------------------------*/
a.woo-sc-button {
    font-family: sans-serif;
    display: inline-block;
    line-height: 1em;
    padding: 6px 13px;
    margin:0 .6em 1.5em 0;
    border: 1px solid #4081af;
    border-bottom-color: #20559a;
    color: white !important;
    text-align: center;
    text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
    text-decoration: none !important;

    /*Border radius*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    /*Background*/
    background-color: #237fd7; /*Fallback*/

    /*Box shadow*/
    -webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/,
    inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/,
    0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
    -moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/,
    inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/,
    0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
    box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/,
    inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/,
    0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
}

a.woo-sc-button.small { padding:2px 10px; font-size:0.9em;}
a.woo-sc-button.large { padding:7px 16px; font-size:1.4em;}
a.woo-sc-button.xl { padding:9px 20px; font-size:1.8em;}

a.woo-sc-button:hover,
a.woo-sc-button.hover,
a.woo-sc-button.active {
    text-decoration: none !important;
    /*Background*/
    background: #0073d2; /*Fallback*/
    background: -webkit-gradient(
                    linear,
                    left top,
                    left bottom,
                    color-stop(.2, #3e9ee5),
                    color-stop(1, #1666ca)
    );
}

a.woo-sc-button:active,
a.woo-sc-button.active  {
    border-color: #20559a;

    /*Box shadow*/
    -webkit-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
    0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
    -moz-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
    0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
    box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
    0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
}

a.woo-sc-button.dark span { color:#555; text-shadow:0 1px #fff;}
a.woo-sc-button.custom:hover { opacity:0.85; }

a.woo-sc-button span { line-height:1.2em; min-height: 16px; }
a.woo-sc-button span.woo-info { background:url( "images/ico-info.png") no-repeat 0 45%; padding-left:25px; display:block; }
a.woo-sc-button span.woo-download { background:url( "images/ico-download.png") no-repeat 0 45%; padding-left:25px; display:block; }
a.woo-sc-button span.woo-tick { background:url( "images/ico-tick.png") no-repeat 0 45%; padding-left:25px; display:block; }
a.woo-sc-button span.woo-note { background:url( "images/ico-note.png") no-repeat 0 45%; padding-left:25px; display:block; }
a.woo-sc-button span.woo-alert { background:url( "images/ico-alert.png") no-repeat 0 45%; padding-left:25px; display:block; }

a.woo-sc-button.red {
    border-color: #af4040; border-bottom-color: #9a2020; background-color: #d72323;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e85252),color-stop(1, #cf2e2e));
}
a.woo-sc-button.red:hover {
    background: #d20000;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e53e3e),color-stop(1, #ca1616));
}

a.woo-sc-button.orange {
    border-color: #af7440; border-bottom-color: #9a5420; background-color: #d76b23;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e88e52),color-stop(1, #cf6e2e));
}
a.woo-sc-button.orange:hover {
    background: #d25e00;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e57d3e),color-stop(1, #ca5116));
}

a.woo-sc-button.green {
    border-color: #87bf00; border-bottom-color: #7ca122; background-color: #8dc11e;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #ace53e),color-stop(1, #8dca16));
}
a.woo-sc-button.green:hover {
    background: #87c000;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #a0d53a),color-stop(1, #60b513));
}

a.woo-sc-button.aqua {
    border-color: #40af96; border-bottom-color: #209a82; background-color: #23d7af;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #52e8c6),color-stop(1, #2ecfab));
}
a.woo-sc-button.aqua:hover {
    background: #00d2a8;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #3ee5c0),color-stop(1, #16ca9e));
}

a.woo-sc-button.teal {
    border-color: #23a6d6; border-bottom-color: #20799a; background-color: #23abd7;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #52c3e8),color-stop(1, #2eabcf));
}
a.woo-sc-button.teal:hover {
    background: #009ed2;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #3ebce5),color-stop(1, #16a2ca));
}

a.woo-sc-button.purple {
    border-color: #234dd6; border-bottom-color: #20489a; background-color: #2356d7;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #526ee8),color-stop(1, #2e58cf));
}
a.woo-sc-button.purple:hover {
    background: #0036d2;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #3e5ae5),color-stop(1, #1638ca));
}

a.woo-sc-button.pink {
    border-color: #d623cb; border-bottom-color: #9a2096; background-color: #d723d5;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e852e6),color-stop(1, #cd2ecf));
}
a.woo-sc-button.pink:hover {
    background: #bc00d2;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #c83ee5),color-stop(1, #ae16ca));
}

a.woo-sc-button.silver {
    color: #444 !important;
    text-shadow:0 1px #fff;
    border-color: #bbb; border-bottom-color: #999; background-color: #d8d8d8;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e9e9e9),color-stop(1, #ccc));
}
a.woo-sc-button.silver:hover {
    background: #ccc;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e0e0e0),color-stop(1, #bebebe));
}
