/*
Theme Name: Store Locator Plus Storefront
Description: A Store Locator Plus child theme for WooThemes Storefront.  BBPress and Store Locator Plus aware.
Author: charlestonsw
Author URI: https://www.storelocatorplus.com/
Template: storefront
Version: 1.3
Text Domain:  	slpstorefront
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Tags:         	black, white, light, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready, store locator

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
@import url("../storefront/style.css");
.page .hentry .entry-header H1 {
  border-bottom: none; }

.page-template-template-fullwidth-php #masthead {
  margin-bottom: 0; }
.page-template-template-fullwidth-php .hentry .entry-header {
  border: none; }
  .page-template-template-fullwidth-php .hentry .entry-header H1 {
    width: inherit;
    border-bottom: none;
    padding-bottom: 0.1em;
    display: none; }

.site-header {
  background-color: white; }
  .site-header .site-branding, .site-header .site-logo-anchor, .site-header .site-logo-link {
    width: inherit;
    margin-right: 0; }
  .site-header .site-branding .custom-logo-link img {
    width: 350px; }
  @media (min-width: 768px) {
    .site-header .site-branding {
      margin-bottom: 1em; } }
  .site-header ul.sub-menu {
    margin-top: -2em; }

.woocommerce-breadcrumb {
  padding: 0.5em 99em; }
  @media (min-width: 768px) {
    .woocommerce-breadcrumb {
      padding: 0.5em 99em;
      margin-bottom: 1em; } }
  @media (min-width: 568px) and (max-width: 67.141em) {
    .woocommerce-breadcrumb {
      margin-left: -1368px;
      margin-right: -1368px;
      padding-left: 0;
      padding-right: 0; } }

ul.menu.nav-menu a, ul.menu.site-header-cart a {
  color: #CC2518; }
  ul.menu.nav-menu a:hover, ul.menu.site-header-cart a:hover {
    color: #60646C; }
ul.menu.nav-menu .sub-menu, ul.menu.site-header-cart .sub-menu {
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  margin-top: 0;
  -webkit-box-shadow: 4px 5px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 5px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 5px 3px -1px rgba(0, 0, 0, 0.75); }
ul.menu li.current-menu-item a {
  color: #CC2518; }

div.widget-area li.current-menu-item.page_item.current_page_item > a {
  color: #22AAFF; }
div.widget-area li.current-menu-item > a {
  color: #22AAFF; }

div#content A, div#content .widget-area A {
  color: #22AAFF;
  text-decoration: none; }
div#content pre {
  background-color: transparent; }
div#content span.embed-youtube {
  padding-top: 0.25em; }
div#content .woocommerce-tabs ul, div#content .woocommerce-tabs ol {
  margin: 0;
  padding: 1em; }
  div#content .woocommerce-tabs ul li.active, div#content .woocommerce-tabs ol li.active {
    background-color: #8888FF; }
    div#content .woocommerce-tabs ul li.active a, div#content .woocommerce-tabs ol li.active a {
      color: black;
      padding-left: 0.5em; }
div#content .side-by-side {
  display: flex;
  justify-content: center;
  flex-flow: wrap; }
  div#content .side-by-side li.product {
    width: auto;
    float: inherit;
    margin: 0; }
  div#content .side-by-side .span_box {
    flex: 1 100%;
    text-align: center; }
    div#content .side-by-side .span_box .product img {
      width: 33%; }
    div#content .side-by-side .span_box .product:hover {
      background-color: transparent; }
    div#content .side-by-side .span_box:hover {
      background-color: #F4F4F4; }
  div#content .side-by-side .box {
    padding: 1em;
    flex: 1 1; }
    div#content .side-by-side .box:hover {
      background-color: #F4F4F4; }
    div#content .side-by-side .box .header {
      display: block;
      font-size: 1.5em;
      text-align: center; }
    div#content .side-by-side .box .product img {
      width: 62%; }
div#content section.dark_bar {
  background-color: #222;
  color: white;
  width: 100%;
  padding: 1.5em; }
  div#content section.dark_bar td {
    background-color: transparent;
    width: 50%; }
    div#content section.dark_bar td.right_side {
      padding-left: 1em; }
  div#content section.dark_bar a {
    color: #8888FF; }
div#content table.shop_table,
div#content div.woocommerce-checkout-payment {
  background-color: white;
  z-index: 9999; }

footer#colophon a {
  color: #22AAFF;
  text-decordation: none; }
  footer#colophon a:not(.button) {
    color: #22AAFF;
    text-decordation: none; }

.entry-content #bbpress-forums {
  font-size: inherit; }
  .entry-content #bbpress-forums a {
    color: #22AAFF; }
  .entry-content #bbpress-forums .status-closed {
    color: #666; }
    .entry-content #bbpress-forums .status-closed a {
      color: #666; }
  .entry-content #bbpress-forums p.bbp-forum-description a.bbp-author-avatar,
  .entry-content #bbpress-forums p.bbp-topic-description a.bbp-author-avatar,
  .entry-content #bbpress-forums p.bbp-topic-meta a.bbp-author-avatar,
  .entry-content #bbpress-forums span.bbp-topic-freshness-author a.bbp-author-avatar {
    display: none; }
  .entry-content #bbpress-forums .bbp-topic-revision-log-item img.avatar {
    display: none; }
  .entry-content #bbpress-forums ul.bbp-lead-topic {
    font-size: inherit; }
  .entry-content #bbpress-forums ul li .bbp-header {
    background-color: transparent; }
  .entry-content #bbpress-forums ul li.bbp-body ul.forum {
    padding: 1em; }
  .entry-content #bbpress-forums #favorite-toggle a.favorite-toggle {
    margin: 0 1em; }
    .entry-content #bbpress-forums #favorite-toggle a.favorite-toggle:before {
      font-family: dashicons;
      content: "\f154";
      padding-right: 0.1em; }
    .entry-content #bbpress-forums #favorite-toggle a.favorite-toggle .is-favorite:before {
      font-family: dashicons;
      content: "\f155";
      padding-right: 0.1em; }
  .entry-content #bbpress-forums #subscription-toggle {
    background-color: #43454b;
    border: none;
    float: right;
    padding: 0.618em 1.387em;
    margin: 0.25em 0;
    text-align: center;
    font-weight: 600; }
    .entry-content #bbpress-forums #subscription-toggle A {
      color: white; }
    .entry-content #bbpress-forums #subscription-toggle:hover {
      background-color: #70757D;
      border: medium solid #70757D; }

.widget-area .widget h3.widget-title {
  border-bottom: none;
  margin-bottom: 0;
  padding: 0 0 0.25em; }
.widget-area .widget #bbp-search-form .button {
  margin: 0.25em 0; }

.woocommerce-active .site-header {
  padding-top: 1em; }
  .woocommerce-active .site-header .custom-logo-link {
    margin-bottom: 0; }
  .woocommerce-active .site-header .secondary-navigation {
    display: none;
    visibility: hidden; }
  .woocommerce-active .site-header .site-search {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0; }

.woocommerce_account_subscriptions .subscription-actions .button {
  margin-bottom: 1em;
  min-width: 9em;
  text-align: center; }

.home_actionblock {
  display: inline-block;
  padding-bottom: 3em;
  text-align: center;
  width: 30%; }
  .home_actionblock IMG {
    width: auto;
    display: inline-block; }

/*-------------------------------------------------------------------------------------------*/
/* 1. Info Boxes */
/*-------------------------------------------------------------------------------------------*/
p.woo-sc-box, div.woo-sc-box {
  margin: 1em 0 1.5em 0;
  padding: 9px 10px 9px 50px;
  border-width: 1px 0 1px 0;
  border-style: solid;
  color: #555;
  text-shadow: none; }

.woo-sc-box.none {
  border-width: 0; }

.woo-sc-box.full {
  border-width: 1px; }

.woo-sc-box.medium {
  padding: 18px 20px 18px 50px;
  font-size: 1.1em; }

.woo-sc-box.large {
  padding: 25px 27px 25px 50px;
  font-size: 1.2em; }

.woo-sc-box.rounded {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }

.woo-sc-box.alert {
  border-color: #f0baa2;
  background: #ffd9c8 url(images/ico-alert.png) no-repeat 20px 45%; }

.woo-sc-box.download {
  border-color: #d4ebaf;
  background: #edfcd5 url(images/ico-download.png) no-repeat 20px 45%; }

.woo-sc-box.tick {
  border-color: #d4ebaf;
  background: #edfcd5 url(images/ico-tick.png) no-repeat 20px 45%; }

.woo-sc-box.info {
  border-color: #ccc;
  background: #eee url(images/ico-info.png) no-repeat 20px 45%; }

.woo-sc-box.note {
  border-color: #efe3ae;
  background: #fef6d2 url(images/ico-note.png) no-repeat 20px 45%; }

.woo-sc-box.normal {
  border-color: #ccc;
  background: #eee;
  padding: 9px 15px; }

/*-------------------------------------------------------------------------------------------*/
/* 2. Buttons */
/*-------------------------------------------------------------------------------------------*/
a.woo-sc-button {
  font-family: sans-serif;
  display: inline-block;
  line-height: 1em;
  padding: 6px 13px;
  margin: 0 .6em 1.5em 0;
  border: 1px solid #4081af;
  border-bottom-color: #20559a;
  color: white !important;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none !important;
  /*Border radius*/
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  /*Background*/
  background-color: #237fd7;
  /*Fallback*/
  /*Box shadow*/
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.29);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.29); }

a.woo-sc-button.small {
  padding: 2px 10px;
  font-size: 0.9em; }

a.woo-sc-button.large {
  padding: 7px 16px;
  font-size: 1.4em; }

a.woo-sc-button.xl {
  padding: 9px 20px;
  font-size: 1.8em; }

a.woo-sc-button:hover,
a.woo-sc-button.hover,
a.woo-sc-button.active {
  text-decoration: none !important;
  /*Background*/
  background: #0073d2;
  /*Fallback*/
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #3e9ee5), color-stop(1, #1666ca)); }

a.woo-sc-button:active,
a.woo-sc-button.active {
  border-color: #20559a;
  /*Box shadow*/
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3), 0 1px 0 white;
  -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3), 0 1px 0 white;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3), 0 1px 0 white; }

a.woo-sc-button.dark span {
  color: #555;
  text-shadow: 0 1px #fff; }

a.woo-sc-button.custom:hover {
  opacity: 0.85; }

a.woo-sc-button span {
  line-height: 1.2em;
  min-height: 16px; }

a.woo-sc-button span.woo-info {
  background: url("images/ico-info.png") no-repeat 0 45%;
  padding-left: 25px;
  display: block; }

a.woo-sc-button span.woo-download {
  background: url("images/ico-download.png") no-repeat 0 45%;
  padding-left: 25px;
  display: block; }

a.woo-sc-button span.woo-tick {
  background: url("images/ico-tick.png") no-repeat 0 45%;
  padding-left: 25px;
  display: block; }

a.woo-sc-button span.woo-note {
  background: url("images/ico-note.png") no-repeat 0 45%;
  padding-left: 25px;
  display: block; }

a.woo-sc-button span.woo-alert {
  background: url("images/ico-alert.png") no-repeat 0 45%;
  padding-left: 25px;
  display: block; }

a.woo-sc-button.red {
  border-color: #af4040;
  border-bottom-color: #9a2020;
  background-color: #d72323;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #e85252), color-stop(1, #cf2e2e)); }

a.woo-sc-button.red:hover {
  background: #d20000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #e53e3e), color-stop(1, #ca1616)); }

a.woo-sc-button.orange {
  border-color: #af7440;
  border-bottom-color: #9a5420;
  background-color: #d76b23;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #e88e52), color-stop(1, #cf6e2e)); }

a.woo-sc-button.orange:hover {
  background: #d25e00;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #e57d3e), color-stop(1, #ca5116)); }

a.woo-sc-button.green {
  border-color: #87bf00;
  border-bottom-color: #7ca122;
  background-color: #8dc11e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #ace53e), color-stop(1, #8dca16)); }

a.woo-sc-button.green:hover {
  background: #87c000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #a0d53a), color-stop(1, #60b513)); }

a.woo-sc-button.aqua {
  border-color: #40af96;
  border-bottom-color: #209a82;
  background-color: #23d7af;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #52e8c6), color-stop(1, #2ecfab)); }

a.woo-sc-button.aqua:hover {
  background: #00d2a8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #3ee5c0), color-stop(1, #16ca9e)); }

a.woo-sc-button.teal {
  border-color: #23a6d6;
  border-bottom-color: #20799a;
  background-color: #23abd7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #52c3e8), color-stop(1, #2eabcf)); }

a.woo-sc-button.teal:hover {
  background: #009ed2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #3ebce5), color-stop(1, #16a2ca)); }

a.woo-sc-button.purple {
  border-color: #234dd6;
  border-bottom-color: #20489a;
  background-color: #2356d7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #526ee8), color-stop(1, #2e58cf)); }

a.woo-sc-button.purple:hover {
  background: #0036d2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #3e5ae5), color-stop(1, #1638ca)); }

a.woo-sc-button.pink {
  border-color: #d623cb;
  border-bottom-color: #9a2096;
  background-color: #d723d5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #e852e6), color-stop(1, #cd2ecf)); }

a.woo-sc-button.pink:hover {
  background: #bc00d2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #c83ee5), color-stop(1, #ae16ca)); }

a.woo-sc-button.silver {
  color: #444 !important;
  text-shadow: 0 1px #fff;
  border-color: #bbb;
  border-bottom-color: #999;
  background-color: #d8d8d8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #e9e9e9), color-stop(1, #ccc)); }

a.woo-sc-button.silver:hover {
  background: #ccc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #e0e0e0), color-stop(1, #bebebe)); }
